{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Education</title>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
                {% include "home/navbar.html" %}

        <h2 class="text-success text-center mt-3 p-3">EDUCTION</h2>
        <div class="container mt-3" style="background: url({% static 'img/E5.jpg' %}); height: 70vh; width: 100% ;background-repeat: no-repeat; background-size: cover">

        </div>
        <div class="container mt-3">
            <p style="font-size: 20px">BAL RAKSHAK Foundation Champions the cause of Quality Education which is free and accessible for all the Children. 464216 Children Impacted till March 2021.<br><br>

                When it comes to Education, India in still lagging behind. A report by the Bill and Melinda Gates Foundation also suggested that India has a high percentage of children who have low learning level of outcomes by referring to National Achievement Survey (conducted on November 13, 2017). Only 1/4th third-grade students can read and understand short stories of simple sentences.<br><br>

                The previous ASER reports highlighted the drive to get children back to school, resulting in high enrollment ratio of over 96% in the last eight years in the primary education sector, improvement in reading outcomes and arithmetic ability continues to be low.<br><br>

                Moreover, a large proportion of students in both government and private schools continue to be below the ‘Grade level’. Grade level means that a student can deal with what is expected of her in that grade.<br><br>

                <b>Promoting Inclusive Quality Education</b><br><br>

                We impart quality education to needy children through our various projects. BAL RAKSHAK Foundation today supports 17 homes where more than 4000 stays and learn. We allow them to complete their primary and secondary education. We hold a high priority for quality education which is inclusive, aimed at empowering all children to become informed, competent, compassionate, and a good global citizen.<br><br>

                Child help foundation today has touched the lives of 4,64,216+ Children staying in various homes and institutions and still reaching out to those who need our support.<br><br>

                <b>Preschool Education</b><br><br>

                8,336 children have directly benefitted through nutrition & health support in Jawhar district Maharashtra ensuring children grow up healthy.<br><br>

                <b>Vocational Skills</b><br><br>

                <b>Skill Development Programme</b><br><br>

                BAL RAKSHAK Foundation has provided skill development training in the area of nursing, beautician course, and fashion designing (tailoring) in various rural areas. Till date, 75 young girls and ladies have successfully completed their course and contributing to their family income; and at the same time, they are getting economically empowered.<br><br>

                <b>Life Skills Training Programmes</b><br><br>


                BAL RAKSHAK Foundation promotes Life skills essential for living quality life and eliminating gender bias. We help female students to cope with their difficulties of day-to-day life by learning to make informed decisions, solving problems by thinking creatively and collaboratively, and building healthy relationships through effective communication.<br><br>

                <b>Centre for Excellence (CFE)</b><br><br>


                Project Location: Sakhre Ashram Shala and Bhopoli Ashram Shala in Jawhar Taluka, Palghar Program Highlights:<br><br>

                - This project aims at reaching out to tribal children from Jawhar Block of Palghar district which is considered a backward block in terms of human development index and literacy. We also aim to encourage and equip these tribal students to prepare for engineering, medical education and other field of higher education.<br><br>

                - The beneficiaries comprise of male and female students in the age group of 15-18 years studying in std. X, XII and XII in science field. Currently we have started our pilot project of BAL RAKSHAK Foundation for 42 students of std. X of Sakhre Residential School in Palghar.<br><br>

                - The project aspires to improve the learning outcomes of first-generation learners in difficult to learn subjects like English, Mathematics, Science and Computer Skills in this predominantly tribal area.<br><br>

                - The project will also benefit the teachers, as it will enhance their teaching skills and subject knowledge.<br><br>

                Key Features:<br><br>

                - This aim is to impart free, high-quality education and computer literacy to students studying in the higher classes in Sakhre Residential School and Bhopoli Residential School without regard to their family's socio-economic situation. This will be a remarkable initiative keeping in mind that most of these children are first-generation learners. - Providing education that will be holistic and integral touching upon physical, emotional and aesthetic development in addition to academics.<br><br>

                - Setting up a good library with books and magazines for students and teachers.<br><br>

                - Providing e-learning kits for better learning outcomes and encouraging self-study.<br><br>

                Expected Project Outcome of the pilot project:<br><br>

                - Improved learning outcomes of 61 first-generation learners currently studying in the 10th standard in Sakhre Ashram Shala.<br><br>

                - Improved life skills of the beneficiaries.<br><br>

                - The students will secure higher marks in challenging subjects like mathematics, science, and English.<br><br>



                <b>School Development Project with Skilling</b><br><br>


                The proposed project is about setting up a Model school in the Wada, which will focus on attracting tribal students, provide them with proper infrastructure, quality education and retaining them till they complete education.<br><br>

                The proposed model school will follow similar patterns as Kendriya Vidyalayas and will have standards, norms, etc. with stipulations on pupil-teacher ratio, ICT usage, holistic educational environment, appropriate curriculum and emphasis on output and outcome. However, the school would differ from Kendriya Vidyalayas in funding patterns and management structures.<br><br>

                Key Features: - Construction of school building and residential building for students to stay.<br><br>

                - Education provided in a Model school will be holistic and integral touching upon physical, emotional and aesthetic development in addition to academics.<br><br>

                - The chosen existing school will be converted to Model School<br><br>

                - Necessary infrastructure will be provided not only for teaching needs but also for sports and co-curricular activities.<br><br>

                - The methodology of learning will be activity-based.<br><br>

                - The school will have adequate ICT infrastructure, Internet connectivity, and full-time computer teachers.<br><br>

                - The teacher-Pupil ratio will be a minimum of 1:40 and the classroom ratio will not exceed 1:50.<br><br>

                - The School will have art and music teachers besides specific teachers as per the syllabus. The school will also create facilities for activities emphasizing Indian heritage, art, and Craft.<br><br>

                - Special emphasis will be given on teaching Science, Maths and English. If required, bridge-courses may be introduced for weak students.<br><br>

                - The school curricula will encourage leadership skills and the ability to deal with real-life situations.<br><br>

                - A good laboratory & library for students and teachers will be provided.<br><br>

                - Field trips and educational tours to be an integral part of the curriculum.<br><br>

                - The medium of instruction will be left to the state government; however special emphasis will be given on the teaching spoken English.<br><br>

                - An ambiance will be created which will be conducive to learning.<br><br>

                - Imparting training in life skills and vocational skills.<br><br>



                <b>Scholarship Programmes</b><br><br>


                We at BAL RAKSHAK Foundation aspire that no child should be forced to give up studies due to a financial crunch. Since the year 2010, BAL RAKSHAK Foundation has been providing scholarships to deserving students from disadvantaged families and children living in shelter homes on a pan-India level. To date, BAL RAKSHAK Foundation has sponsored the education of 2,792 boys and girls.<br><br>

                <b>School Outreach Programmes</b>


                BAL RAKSHAK Foundation teams regularly visit schools across the country to advocate about cancer prevention and to make them aware of the direct link between the use of tobacco products and cancer.<br><br></p>
        </div>
        
         <hr style="border:1px solid #cfedc2">

    <div class="container-fluide p-3" id="Contact" style="background-color: #2b281e">
        <div class="row p-5">
            <div class="col-md-4">
                <h4 class="text-center text-white">BAL-RAKSHAK FOUNDATION</h4>
                <p class="text-white text-center">Address :  Indore</p>

            </div>   


            <div class="col-md-4">
                <h4 class="text-white">Quick Links</h4>
                <br>
                <ul class="">
                    <a href="{% url 'index' %}" class="text-white"><li>Home</li></a>
                    <a href="{% url 'help_line' %}" class="text-white"><li>Help Line</li></a>
                    <a href="{% url 'add_children_page' %}" class="text-white"><li>Submit Children Information </li></a>
                    <a href="{% url 'registration_NGO_page' %}" class="text-white"><li>NGO Registration</li></a>
                    <a href="{% url 'login_NGO_page' %}" class="text-white"><li>NGO Login</li></a>
                    <a href="{% url 'mission_vision' %}" class="text-white"><li>Mission & Vission</li></a>
                    <a href="{% url 'FAQS' %}" class="text-white"><li>FAQS</li></a>
                    <a href="{% url 'contact_us' %}" class="text-white"><li>Contact</li></a>
                </ul>
            </div>
            <div class="col-md-4">
                <a href="" > <i class="fa-brands fa-square-facebook fa-2x text-primary p-3"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2x text-danger p-3"></i></a>
                <a href=""> <i class="fa-brands fa-twitter fa-2x text-primary p-3"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp fa-2x text-success  p-3"></i></a>
            </div>
        </div>
    </div>
     {% include "home/footer.html" %}
    </body>
</html>
