{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Emergency Medical Support</title> 
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <body>
                      {% include "home/navbar.html" %}

       <h2 class="text-success text-center mt-3 p-3">EMERGENCY MEDICAL SUPPORT</h2>
        <div class="container mt-3" style="background: url({% static 'img/E4.jpg' %}); height: 70vh; width: 100% ;background-repeat: no-repeat; background-size: cover">
            
        </div>
       <div class="container mt-2">
           <p style="font-size: 20px">Committed to saving lives of ill children across the nation and laying foundation for good health. 1631 Children Saved till March 2021.<br><br>

Our country is a home of the largest numbers of children population in the world. Under the Emergency Medical Programme, we support treatment to the ones who are in need of critical medical treatment. Here, we are supporting all these needy children whose parents can’t afford the cost of the hospital as well as who are underprivileged. We ensure that children afflicted by Cancer or ingrained illnesses do not have to die in the dawn of their lives.<br><br>

BAL RAKSHAK interacts with different medical specialty departments of various hospital partners on a regular basis to track down updates on underprivileged children who need emergency medical treatment. We also endorse an appeal from other hospitals, other families of underprivileged patients and NGO’s for Emergency Medical Support.<br><br>

However, there are many children who are suffering from constant pain and anxiety due to congenital heart diseases and cancer. Approximately,70% of these children are underprivileged for whom it’s inconceivable for getting treated. BAL RAKSHAK Foundation till date support 1,631+ children and tries best to get a solution for these issues by raising funds through sources like our Online Fund Raising Campaigns, Tele-calling Teams, and Media Advertisements. However, our support doesn’t stop here, but once the patient is in the recuperation stage we take regular updates about the patient’s medical status along with familys' status.<br><br>

Children who receive medical support from BAL RAKSHAK Foundation takes many months and even years to recover, during this treatment phase many of them are unable to attend schools. Due to this period of absence from schools and lack of motivation or financial backing, many of them end up as dropouts. And because of this process “Swastha Se Shiksha Programme” was born.<br><br>

We also work for 1200 HIV+ Children of Desire Society at five locations across India. These children not only have to live without love and support of parents but they have to find their own way through the uncertainties of life.<br><br>

Fact Sheets: What are congenital heart defects? Congenital Heart Defects (CHDs) are problems present at birth that affect the structure and function of the heart. Congenital heart defects are the most common birth defects.<br><br>

After birth, congenital heart disease is often first detected when the doctor hears an abnormal heart sound or heart murmur when listening to the heart. Depending on the type of murmur, he or she may order further testing such as – Echocardiogram, Cardiac catheterization, Chest X-Ray, Electrocardiogram (ECG/EKG), Magnetic Resonance Imaging (MRI) or another diagnostic testing.<br><br>

The warning signs of Congenital Heart Disease in infants and children may include a heart murmur or abnormal heart sound, cyanosis (a bluish tint to the skin, fingernails and/or lips), fast breathing, poor feeding, poor weight gain, an inability to exercise and excessive sweating.<br><br>

How common are Congenital Heart Defects (CHDs) in India? Every year 1.5 lakh infants are born in India with congenital heart disease. The warning signs of Congenital Heart Disease in infants and children may include a heart murmur or abnormal heart sound, cyanosis (a bluish tint to the skin, fingernails and/or lips), fast breathing, poor feeding, poor weight gain, an inability to exercise and excessive sweating. 78,000 infants die of congenital heart disease in India every year.<br><br>

Cancer: Around 80% of children with cancer live in developing countries and more than half will die. In India, it is estimated that nearly 40,000 - 50,000 new childhood cancer cases occur each year. In India, cancer is the 9th common cause for the deaths among children between 5 and 14 years of age. Our Partner Hospitals providing the healing touch<br><br>

Maternal malnutrition and maternal mortality: 300 pregnant women provided with Multivitamin tables in collaboration with Vitamin Angels to reduce maternal malnutrition and maternal mortality.<br><br>

Preventive Measures: Created awareness to have nutritious food and avoidance of hunger during pregnancy.<br><br>

Preventing under 5 Mortality: Institution delivery promoted at all meeting with women. Addressing Preterm Birth, Low Birth Weight, and their Outcomes. Breastfeeding campaign.</p>
     </div>   
       <hr style="border:1px solid #cfedc2">

     <div class="container-fluide p-3" id="Contact" style="background-color: #2b281e">
        <div class="row p-5">
            <div class="col-md-4">
                <h4 class="text-center text-white">BAL-RAKSHAK FOUNDATION</h4>
                <p class="text-white text-center">Address :  Indore</p>

            </div>   


            <div class="col-md-4">
                <h4 class="text-white">Quick Links</h4>
                <br>
                <ul class="">
                    <a href="{% url 'index' %}" class="text-white"><li>Home</li></a>
                    <a href="{% url 'help_line' %}" class="text-white"><li>Help Line</li></a>
                    <a href="{% url 'add_children_page' %}" class="text-white"><li>Submit Children Information </li></a>
                    <a href="{% url 'registration_NGO_page' %}" class="text-white"><li>NGO Registration</li></a>
                    <a href="{% url 'login_NGO_page' %}" class="text-white"><li>NGO Login</li></a>
                    <a href="{% url 'mission_vision' %}" class="text-white"><li>Mission & Vission</li></a>
                    <a href="{% url 'FAQS' %}" class="text-white"><li>FAQS</li></a>
                    <a href="{% url 'contact_us' %}" class="text-white"><li>Contact</li></a>
                </ul>
            </div>
            <div class="col-md-4">
                <a href="" > <i class="fa-brands fa-square-facebook fa-2x text-primary p-3"></i></a>
                <a href=""><i class="fa-brands fa-instagram fa-2x text-danger p-3"></i></a>
                <a href=""> <i class="fa-brands fa-twitter fa-2x text-primary p-3"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp fa-2x text-success  p-3"></i></a>
            </div>
        </div>
    </div>
     {% include "home/footer.html" %}
      
    </body>
</html>
