{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Mission & Vision</title>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
         <style>
        *{
        font-family: 'Baloo 2', sans-serif;
        font-family: 'Open Sans', sans-serif;

        }
        </style>
    </head>
    <body>
                {% include "home/navbar.html" %}

         <div class="container-fluide" style="background: url({% static 'img/child12.jpg' %}); height: 50vh; width: 100% ;background-repeat: no-repeat; background-size: cover;">
           
        </div>
        <div class="container mt-3">
<!--           <div class="container-fluide" style="background: url(img/Mission.png); height: 50vh; width: 100% ;background-repeat: no-repeat; background-size: cover">
            
        </div>-->
 <h1 class="p-3 text-center text-success" style="font-size: 50px;" ><u>MISSION</u></h1>
            <p style="font-size: 30px;font-family: cursive;" class="mt-2">Our mission is to provide a good future to the next generatin of our country by giving better oppotunities to the young population of today. This can be done only by 
engaging more and more youth in the employment generation and in every economic activity that can help in increasing GDP of country as well as income of individual. Also we can provide 
a wonderful plateform for social service to the workers who are searching for a flateform to contribute in social work for thes country. As this is an online plateform we are aiming to achieve
atleast 50k visiters on our site and to provide home and good life to atleast 40k childrens on next 6 months. After being successfull complition of our target we are aiming to launch a new feature 
for donation in the same website, so that persons willing to help such children financially could aldo take advantage from this.</p>
        </div>
        <hr>
        <div class="container mt-2">

            <h1 class="p-3 text-center text-success" style="font-size: 50px;" ><u>VISION</u></h1>
            <p style="font-size: 30px;font-family: cursive;" class="mt-2">Our vision is to provide CARE, OPPOTUNITIES and a life with DIGNITY to the helpless children who are working as begar and also engaged in unethical and unheiginic work.
So that they would get a better life and availability of essential comodities and services which every individual must have to life a life with dignity and respect. Also we want to see our country 
free from taboo of begar practices. This will not only improve the life of individuals but will also improve the socio-economic status of the country at the world level.
This will provide us a greater workforce engaged in economic participation and huge amount of reduction in count of child begar and unemployment rates. This step will further
glorify the image of India on the global plateform for taking such more initiatives for reducing and eleminating poverty and begar from the society(worls as a whole). </p>
        </div>
        {% include "home/footer.html" %}
    </body>
</html>
